#
# Autoconf files
#
autom4te.cache/
config.log
config.status
configure
Makefile.config
Makefile.local
.depend
.product
.merlin
*.swp
*.cm*
*.o
*.a
*.native
*_t.ml*
*_j.ml*
/example/example
/example/example_docker
/manual/rashell_html
/meta/rashell
/src/rashell.odoc
/testsuite/unit_testing
/testsuite/*.log
